/* src/pages/Home/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}
